body, html {
    width: 100%;
    height: 100%;
    font-family: "Pixelated MS Sans Serif";
    background-image: url("https://media.discordapp.net/attachments/909497192371343462/1087399105317326848/w.png?width=1157&height=651");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    image-rendering: pixelated;
    margin: 0;
    user-select: none;
    font-size: 11px;
    overflow: hidden;
}

#selectable{
    width: 75px;
    height: auto;
    background-color: none;
    margin-top: 8px;
}

#selectable div{
    background-color: firebrick;
}

.ds-selected {
    
}

    .ds-selected img {
        filter: saturate(150%);
        image-rendering: pixelated;
    }

    .ds-selected div {
        background-color: firebrick;
        outline: 1px dotted #000;
        outline-offset: -1px;
    }

.ds-selector {
    background: none;
    outline: 1px dotted #fff;
    outline-offset: -1px;
}

#block {
    background-color: #7b7d7b;
    box-shadow: 0 1px #fff;
    width: 100%;
    height: 1px;
}

#desktop{
    width: 100%;
    height: calc(100% - 29px);
}

#tbar {
    position: absolute;
    width: 100%;
    height: 29px;
    bottom: 0;
    background: linear-gradient(180deg,#0997ff,#0053ee 8%,#0050ee 40%,#06f 88%,#06f 93%,#005bff 95%,#003dd7 96%,#003dd7);
}

#start {
    width: 80px;
    height: 100%;
    min-width: 0px;
    font-weight: bold;
    border-top-right-radius: 28px; 
    border-bottom-right-radius: 28px; 
    background: url("Assets/start-button.png"), linear-gradient(180deg, hsla(119, 39%, 37%, 1) 0%, hsla(120, 28%, 66%, 1) 4%, hsla(121, 31%, 49%, 1) 13%, hsla(120, 41%, 49%, 1) 90%, hsla(133, 40%, 32%, 1) 100%);;
    background-repeat: no-repeat;
    background-position: center;
}

#startMenu {
    box-shadow: inset -1px -1px #0a0a0a,inset 1px 1px #dfdfdf,inset -2px -2px grey,inset 2px 2px #fff;
    width: 300px;
    height: 400px;
    background-color: #c0c0c0;
    position: absolute;
    bottom: 29px;
    display: none;
    z-index: 10000000000000000000000000000000000
}

.active {
    box-shadow: inset -1px -1px #fff,inset 1px 1px #0a0a0a,inset -2px -2px #dfdfdf,inset 2px 2px grey;
}

#startLabel {
    background: linear-gradient(180deg,#0997ff,#0053ee 8%,#0050ee 40%,#06f 88%,#06f 93%,#003dd7);
    width: 25px;
    height: calc(100% - 8px);
    margin-top: 4px;
    margin-left: 4px;
}

#startInner{
    width: calc(100% - 38px);
    height: calc(100% - 8px);
    background-color: none;
    position:absolute;
    left: 33px;
    top: 4px;
}

#startOption {
    font-family: "Pixelated MS Sans Serif";
    background-color: none;
    width: 100%;
    height: 35px;
    background-repeat: no-repeat;
    background-position: 2px 2px;
    text-align: left;
    line-height: 35px;
    font-size: 11px;
}

.shutdownI {
    background-image: url("https://win98icons.alexmeub.com/icons/png/shut_down_normal-0.png");
    background-size: 36px;
    image-rendering: pixelated;
}

.logoffI {
    background-image: url("https://win98icons.alexmeub.com/icons/png/key_win-4.png");
    background-size: 36px;
    image-rendering: pixelated;
}

.runI {
    background-image: url("https://win98icons.alexmeub.com/icons/png/application_hourglass_small-3.png");
    background-size: 36px;
    image-rendering: pixelated;
}
.helpI {
    background-image: url("https://win98icons.alexmeub.com/icons/png/help_book_small-4.png");
    background-size: 36px;
    image-rendering: pixelated;
}
.findI {
    background-image: url("https://win98icons.alexmeub.com/icons/png/search_file-1.png");
    background-size: 32px;
    image-rendering: pixelated;
}
.settingsI {
    background-image: url("https://win98icons.alexmeub.com/icons/png/settings_gear-3.png");
    background-size: 36px;
    image-rendering: pixelated;
}
.documentsI {
    background-image: url("https://win98icons.alexmeub.com/icons/png/directory_open_file_mydocs-1.png");
    background-size: 32px;
    image-rendering: pixelated;
}
.favI {
    background-image: url("https://win98icons.alexmeub.com/icons/png/directory_favorites-4.png");
    background-size: 32px;
    image-rendering: pixelated;
}
.programsI {
    background-image: url("https://media.discordapp.net/attachments/1087076597347139664/1087109440769101875/Screenshot_4.png");
    background-size: 32px;
    image-rendering: pixelated;
}
.paintI {
    background-image: url("https://win98icons.alexmeub.com/icons/png/paint_file-3.png");
    background-size: 32px;
    image-rendering: pixelated;
}
.wupdateI {
    background-image: url("https://win98icons.alexmeub.com/icons/png/windows_update_large-4.png");
    background-size: 32px;
    image-rendering: pixelated;
}

p {
    font-family: "Pixelated MS Sans Serif";
    font-size: 11px;
}

button{
    font-size: 11px;
}

#timeArea{
    width: 60px;
    min-width: 0px;
    height: 100%;
    position: absolute;
    right: 0px;
    top:0px;
    background: linear-gradient(180deg, hsla(200, 85%, 49%, 1) 0%, hsla(200, 85%, 49%, 1) 31%, hsla(205, 84%, 50%, 1) 68%, hsla(202, 86%, 48%, 1) 100%);
}

:root {
    /* Color */
    --text-color: #222222;
    --surface: #c0c0c0;
    --button-highlight: #ffffff;
    --button-face: #dfdfdf;
    --button-shadow: #808080;
    --window-frame: #0a0a0a;
    --dialog-blue: #000080;
    --dialog-blue-light: #1084d0;
    --dialog-gray: #808080;
    --dialog-gray-light: #b5b5b5;
    --link-blue: #0000ff;
    /* Spacing */
    --element-spacing: 8px;
    --grouped-button-spacing: 4px;
    --grouped-element-spacing: 6px;
    --radio-width: 12px;
    --checkbox-width: 13px;
    --radio-label-spacing: 6px;
    --range-track-height: 4px;
    --range-spacing: 10px;
    /* Some detailed computations for radio buttons and checkboxes */
    --radio-total-width-precalc: var(--radio-width) + var(--radio-label-spacing);
    --radio-total-width: calc(var(--radio-total-width-precalc));
    --radio-left: calc(-1 * var(--radio-total-width-precalc));
    --radio-dot-width: 4px;
    --radio-dot-top: calc(var(--radio-width) / 2 - var(--radio-dot-width) / 2);
    --radio-dot-left: calc( -1 * (var(--radio-total-width-precalc)) + var(--radio-width) / 2 - var( --radio-dot-width ) / 2 );
    --checkbox-total-width-precalc: var(--checkbox-width) + var(--radio-label-spacing);
    --checkbox-total-width: calc(var(--checkbox-total-width-precalc));
    --checkbox-left: calc(-1 * var(--checkbox-total-width-precalc));
    --checkmark-width: 7px;
    --checkmark-top: 3px;
    --checkmark-left: 3px;
    /* Borders */
    --border-width: 1px;
    --border-raised-outer: inset -1px -1px var(--window-frame), inset 1px 1px var(--button-highlight);
    --border-raised-inner: inset -2px -2px var(--button-shadow), inset 2px 2px var(--button-face);
    --border-sunken-outer: inset -1px -1px var(--button-highlight), inset 1px 1px var(--window-frame);
    --border-sunken-inner: inset -2px -2px var(--button-face), inset 2px 2px var(--button-shadow);
    /* Window borders flip button-face and button-highlight */
    --border-window-outer: inset -1px -1px var(--window-frame), inset 1px 1px var(--button-face);
    --border-window-inner: inset -2px -2px var(--button-shadow), inset 2px 2px var(--button-highlight);
    /* Field borders (checkbox, input, etc) flip window-frame and button-shadow */
    --border-field: inset -1px -1px var(--button-highlight), inset 1px 1px var(--button-shadow), inset -2px -2px var(--button-face), inset 2px 2px var(--window-frame);
    /* Tabs */
    --border-tab: inset -1px 0 var(--window-frame), inset 1px 1px var(--button-face), inset -2px 0 var(--button-shadow), inset 2px 2px var(--button-highlight)
}

.winbox:not(.max) .wb-header {
    cursor: default;
    background-color: #000080;
    height: 28px;
    line-height: 20px;
    font-family: "Pixelated MS Sans Serif";
    font-size: 10px;
    width: 100%;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.wb-header {
    cursor: default;
    background: linear-gradient(180deg,#0997ff,#0053ee 8%,#0050ee 40%,#06f 88%,#06f 93%,#005bff 95%,#003dd7 96%,#003dd7);
    height: 28px;
    line-height: 20px;
    font-family: "Pixelated MS Sans Serif";
    font-size: 10px;
    width: 100%;
    margin: 0px;
}

.wb-icon{
    width: 16px;
    height: 14px;
    cursor: default;
    margin-top: 2px;
    left: -4px;
    position: relative;
}

.wb-drag {
    cursor: default;
}

.wb-title {
    cursor: default;
    height: 28px;
    line-height: 30px;
    font-family: "Pixelated MS Sans Serif", Arial;
    font-weight: bold;
    font-size: 11px;
    left: -8px;
    position: relative;
}

.winbox:not(.max) .wb-title {
    cursor: default;
    height: 28px;
    line-height: 30px;
    font-family: "Pixelated MS Sans Serif", Arial;
    font-weight: bold;
    font-size: 11px;
}

.winbox:not(.max) .wb-body {
    top: 28px;
    margin: 3px;
    background-color: #ece9d8;
}

.wb-body {
    top: 30px;
    margin: 0px;
    background-color: #ece9d8;
}

.winbox:not(.max) {
    background-color: #c0c0c0;
    box-shadow: inset -1px -1px #00138c,inset 1px 1px #0831d9,inset -2px -2px #001ea0,inset 2px 2px #166aee,inset -3px -3px #003bda,inset 3px 3px #0855dd;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.wb-close {
    width: 21px;
    height: 21px;
    background-image: url("Assets/close.svg");
    background-size: cover;
    background-position: center;
    margin-right: 5px;
    margin-top: 4px;
}

.winbox:not(.focus) .wb-close{
    filter: brightness(90%);
    opacity: 0.7;
}

.winbox:not(.focus):not(.max) .wb-max{
    filter: brightness(90%);
    opacity: 0.7;
}

.winbox:not(.focus) .wb-max{
    filter: brightness(90%);
    opacity: 0.7;
}

.winbox:not(.focus) .wb-min{
    filter: brightness(90%);
    opacity: 0.7;
}

.winbox:not(.max) .wb-max {
    width: 21px;
    height: 21px;
    background-image: url("Assets/maximize.svg");
    background-size: cover;
    background-position: center;
    margin-right: 2px;
}
.winbox:not(.focus) .wb-header {
    background: linear-gradient(180deg, hsla(222, 66%, 64%, 1) 0%, hsla(222, 63%, 75%, 1) 4%, hsla(222, 55%, 66%, 1) 25%, hsla(222, 63%, 67%, 1) 62%, hsla(217, 69%, 71%, 1) 85%, hsla(217, 69%, 71%, 1) 96%, hsla(225, 55%, 66%, 1) 100%);
}

.winbox:not(.focus){
    box-shadow: inset -1px -1px #4850b8,inset 1px 1px #7084d8,inset -2px -2px #4850b8,inset 2px 2px #7084d8,inset -3px -3px #7080d8,inset 3px 3px #708cd8;
}

.winbox:not(.focus) .wb-title{
    background: none;
}

.wb-max {
    width: 21px;
    height: 21px;
    background-image: url("Assets/restore.svg");
    background-size: cover;
    background-position: center;
    margin-right: 2px;
}

.wb-min {
    width: 21px;
    height: 21px;
    background-image: url("Assets/minimize.svg");
    background-size: cover;
    background-position: center;
    background-color: #c0c0c0;
    margin-right: 2px;
}

.wb-icon{
    margin-top: 8px;
    margin-left: 0px;
}